#color-box{
    background-color: green;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
    /* opacity:0.3; */
}
#red-box{
    height: 300px;
    width: 200px;
    background: red;
    margin-top: -100px;
    opacity: 0.5;
}
img{
    height: 200px;
    width: 500px;
    /* opacity: 0.2; */
}
img:hover{
    opacity: 0.4;
}

/* div{
    border: 1px solid red;
    width: 500px;
    background-color: yellowgreen;
    margin: 100px;
    padding: 20px;
    box-shadow: 10px 10px 15px 3px gray inset;
    box-shadow: 10px 10px 15px 3px gray,-10px 10px 15px 3px red;
} */