#bg{
    /* background-color: green; */
    background-image: url("images/4.webp"),url("images/1.webp");
    background-repeat: no-repeat;
    /* background-position: right top; */
    background-position: left top,right bottom;
    /* background-position: center center; */
    /* background-position: right center ; */
    /* background-position: 50px 80px; */
    /* background-position: left top; */
    /* background-size: 500px 1000px; */
    /* background-size: 40% 60%; */
    /* background-size: cover;
    background-size: contain;
    background-attachment: fixed; */
    /* background: #ffffff url('images/st.jpg') no-repeat fixed 5% 10%; */
}
/* body{
    background-color: red;
} */