#div1{
    width: 70%;
    float: left;
    background-color: lawngreen;
}
#div2{
    width: 30%;
    float: left;
    background-color: rosybrown;
}
h1{
    font-size: 40px;
}
@media screen and (max-width:768px) {
    #div1{
        width: 50%;
    }
    #div2{
        width: 50%;
    }
}
@media screen and (min-width:400px) and (max-width:768px) {
    #div1{
        width: 100%;
    }
    #div2{
        width: 100%;
        background-color: black;
        color: wheat;
    }
}
/* img{
    width: 100%;
    height:auto;
}
video{
    width:100%;
    height: auto;
} *//* use for making reponsive to video and img*/
/* @media screen and (max-width:400px) {
    #div1{
        width: 100%;
    }
    #div2{
        width: 100%;
        background-color: black;
        color: wheat;
    }
} */